@import url("https://fonts.googleapis.com/css?family=Roboto:500,400,900|Fasthand:400|Joti+One:400|DM+Sans:400,700|Cormorant+Upright:700|Ingrid+Darling:400");
@import url("https://fonts.googleapis.com/css?family=Roboto:500,400,900|Fasthand:400|Joti+One:400|DM+Sans:400,700|Cormorant+Upright:700|Ingrid+Darling:400");
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600&family=Fasthand&family=Inter:wght@600&family=Roboto+Slab:wght@500&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600&family=Fasthand&family=Ingrid+Darling&family=Inter:wght@600&family=Roboto+Slab:wght@500&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600&family=Fasthand&family=Ingrid+Darling&family=Inter:wght@600&family=Roboto+Slab:wght@500&family=Roboto:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600&family=Fasthand&family=Ingrid+Darling&family=Inter:wght@500;600;700&family=Lexend:wght@300&family=Roboto+Slab:wght@500&family=Roboto:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600&family=DM+Sans:opsz,wght@9..40,300&family=Fasthand&family=Ingrid+Darling&family=Inter:wght@500;600;700&family=Lexend:wght@300&family=Roboto+Slab:wght@500&family=Roboto:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600&family=DM+Sans:opsz,wght@9..40,300&family=Fasthand&family=Ingrid+Darling&family=Inter:wght@500;600;700&family=Lexend:wght@300&family=Open+Sans:ital,wght@1,600&family=Roboto+Slab:wght@500&family=Roboto:wght@700;900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.7;
    background: #fff;
    text-decoration: none;
    overflow-x: hidden;
    position: absolute;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

li {
    list-style: none;
}

a {
    list-style: none;
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}


.navbar {
    background: rgba(241, 238, 255, 1);
    width: 98vw;
    height: 100px;
    position: fixed;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled {
    background: rgba(255, 255, 255, 0.5);
    /* Semi-transparent white background */
    backdrop-filter: blur(15px);
    /* Apply a blur effect */
    /* Add border-radius for rounded corners */
    box-shadow: 0 0 10px rgba(102, 145, 255, 0.37);
    /* Add drop shadow */
    transition: background-color 0.3s;
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.school-name {
    font-family: 'Lexend', sans-serif;
    font-size: 29px;
    color: rgba(81, 132, 15, 1);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.nav__menu a:hover {
    color: #ff9900;
}

.navbtn {
    background-color: rgba(97, 167, 6, 1);
    color: #fff;
    padding: 13.26px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 44.52px;
    width: 169.74px;
}

.navbtn:hover {
    background-color: #ff9900;
}

.hero {
    background-position: center;
    background-size: cover;
    /* background-color: #ff9900; */
    width: 100vw;
    height: 620px;
    margin-top: 102px;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* Use min-height to accommodate content and images */
    transition: background-image 0.5s ease;
}

.hero-contaianer {
    height: 620px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-contaianer h1 {
    font-family: 'Lexend', sans-serif;
    /* font-size: 38px; */
    margin-bottom: 10px;
    color: #FFF;
    text-align: center;
    font-size: 67.842px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    /* 59.867px */
    text-transform: capitalize;
}

.hero-contaianer p {
    font-family: 'DM Sans', sans-serif;
    /* font-size: 19px; */
    font-style: normal;
    margin-bottom: 10px;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-size: 19.918px;
    font-style: normal;
    /* font-weight: 700; */
    line-height: 1.5;
    text-transform: capitalize;
}



.hero-contaianer button {
    width: 186.33px;
    height: 44.07px;
    border-radius: 10px;
    border: none;
    background-color: rgba(97, 167, 6, 1);
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    color: white;
}


.hero-contaianer button:hover {
    background-color: transparent;
    border: 2px solid;
    font-family: 'Roboto Slab', serif;
    color: white;
}

.s2-left {
    max-width: 50%;
    height: auto;
}

.s2-img {
    max-width: 70%;
    height: auto;
    margin-left: 70px;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #fff;
    margin-top: 50px;
    width: 100vw;
    gap: 70px;
}

.s2-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    font-family: 'Lexend', sans-serif;
    margin-top: -20px;
}


.s2btn {
    background-color: rgba(81, 132, 15, 1);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 50px;
    height: 42px;
    width: 120px;
}



.s2-right {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    font-family: 'Lexend', sans-serif;
    margin-top: -20px;
}


.s2-right h2 {
    font-family: 'Lexend', sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: bolder;
    margin-bottom: 20px;
}


.s2-right p {
    font-size: 14px;
    color: #000;
    margin-bottom: 20px;
    line-height: 2.0;
}





.section3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: rgba(238, 249, 255, 1);
    margin-top: 10px;
    text-align: left;
    width: 100vw;
}


.s3-right {
    width: 50%;
    text-align: center;
    margin-left: 80px;
}


.s3-left {
    width: 50%;
}


.s3-right h2 {
    font-family: 'Lexend', sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: bolder;
    margin-bottom: 20px;
    text-align: left;
}


.s3-right p {
    font-size: 14px;
    color: #000;
    margin-bottom: 20px;
    line-height: 2.0;
    text-align: left;
}



.s2-img {
    max-width: 70%;
    height: auto;
}

.section4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 80px;
    padding-right: 80px;
    margin-top: 80px;
    margin-bottom: 10px; */
    height: 400px;
}

.tsc {
    width: 449px;
    height: 273px;
    border-radius: 52px;
    background-color: rgba(247, 246, 252, 1);
    position: relative;
    margin-left: 150px;
}

.tsc2 {
    margin-right: 100px;
}

.tsc2 p {
    margin-top: 30px;
    line-height: 1.8;
    font-weight: 400;
    font-family: 'Lexend', sans-serif;
    margin-right: 120px;
}

.supporting-text2 {
    position: absolute;
    margin-top: 90px;
    left: 90px;
    letter-spacing: 0.28px;
    color: #080808;
    text-align: left;
    display: inline-block;
    width: 305px;
}

.divo,
.divo1 {
    position: absolute;
    left: 60px;
    /* margin-top: 800px; */
    top: 35px;
    font-size: 75.67px;
    text-transform: uppercase;
    font-family: 'Ingrid Darling', cursive;
    color: orange;
}

.divo1 {
    top: 220px;
    left: 380px;
    transform: rotate(-180deg);
    transform-origin: 0 0;
}


.section5 {
    width: 100vw;
    height: 1700px;
    background-color: #ff9900;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.s5-cta {
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s5-cta button {
    background-color: #fff;
    color: #ff9900;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 134px;
    height: 50px;
}

.s5-cta h2 {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lexend', sans-serif;
    font-size: 32.836px;
    font-style: normal;
    font-weight: 500;
    line-height: 107.285px;
    /* 326.735% */
    text-transform: capitalize;
}

.s5-cta h4 {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lexend', sans-serif;
    font-size: 22.206px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 72.555px; 326.735% */
    text-transform: capitalize;
    margin-bottom: 30px;
}

.s5-cta p {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Lexend;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.35px; /* 175.667% */
    text-transform: capitalize;
}



.s5polygon {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    margin-top: 50px;
}


.firstline {
    display: flex;
}

.secondline {
    display: flex;
}

.secondline img {
    width: 415px;
    height: 415px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: -80px;
}

.thirdline {
    display: flex;
    margin-right: 410px;

}

.thirdline img {
    width: 415px;
    height: 415px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: -80px;
    margin-bottom: 20px;
}

.firstline img {
    width: 415px;
    height: 415px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.s5polygon .image-container {
    position: relative;
    display: inline-block;
}

.firstline .overlay {
    position: absolute;
    width: 87%;
    height: 415px;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin-top: 2px;
    margin-left: 28px;
    color: #fff;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.overlay-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}

.overlay h2 {
    display: flex;
}

.s5polygon .secondline .overlay {
    position: absolute;
    width: 87%;
    height: 415px;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin-top: -80px;
    margin-left: 28px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.thirdline .overlay {
    position: absolute;
    width: 87%;
    height: 415px;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin-top: -80px;
    margin-left: 28px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.s5polygon .image-container:hover .overlay {
    display: flex;
}

.s5polygon .image {
    width: 415px;
    height: 415px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: -80px;
}

.section6 {
    width: 100vw;
    height: 412px;
    background-color: #000;
    display: flex;
}

.s6left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 412px;
    background-color: #fff;
}

.s6left-container h2 {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 40px;
}

.highlight {
    color: #09B451;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}


.s6right {
    width: 60%;
    height: 412px;
    background-color: #fff;
}

.bicon {
    display: flex;
    gap: 25px;
    margin-top: 50px;
}

.next-icon,
.next-icon1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    rotate: 180deg;
    transition: background-color 0.3s ease;
    border: 1px solid #09B451;
}

.next-icon1 {
    rotate: 360deg;
}

.next-icon svg,
.next-icon1 svg {
    fill: #09B451;
    width: 26.936px;
    height: 30.628px;
    flex-shrink: 0;
    width: 25px;
    height: 25px;
}

.next-icon:hover {
    background-color: #09B451;
}

.next-icon:hover svg {
    fill: #fff;
}

.next-icon1:hover {
    background-color: #09B451;
}

.next-icon1:hover svg {
    fill: #fff;
}

.card-container {
    display: flex;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    padding: 20px;
    /* Add some padding to space the cards */
    margin-top: 20px;
    /* Adjust the top margin as needed */
    gap: 20px;
    /* Add space between cards */
}

.card {
    min-width: 300px;
    height: 160px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding: 59px 48px 48px 48px;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(226, 226, 226, 0.25);
}

.p-details {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.p-details img {
    width: 70px;
    height: 70px;
}

.p-details .details {
    margin-top: 100px;
    position: absolute;
}

.p-details h1 {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
}

.p-details h3 {
    color: #09B451;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.p-paragraph {
    color: #333;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 30px;
    margin-bottom: 10px;
}

.card-container::-webkit-scrollbar {
    display: none;
}



.section7 {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 30px;
    height: 450px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section7 h2 {
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
    margin-top: -55px;
    margin-bottom: 45px;
    margin-left: -1300px;
}

.staff-cards-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 70px;
    max-width: 100%;
}

.staff-cards-container::-webkit-scrollbar {
    display: none;
}

.staff-card {
    width: 340px;
    height: 229px;
    flex-shrink: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.staff-card img {
    width: 113.981px;
    height: 113.981px;
    flex-shrink: 0;

}

.staff-card h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.staff-card p {
    font-size: 16px;
}


/* .section8 {
    height: 700px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
    gap: 70px;
    max-width: 100%;
} */



/*----------------- section 8 -------------------------- */

.section8 {
    height: 600px;
    padding: 20px;
    margin-top: 30px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section8 h2 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
    margin-top: -65px;
    margin-bottom: 45px;
    margin-left: -1300px;
}

.staff-cards-containers {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 70px;
    max-width: 100%;
}

.staff-cards-containers::-webkit-scrollbar {
    display: none;
}

.staff-card2 {
    width: 340px;
    /* height: 229px; */
    flex-shrink: 0;
    /* background-color: #fff; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 355.254px;
    border-radius: 9.266px;
    background: #FFF;
    box-shadow: 0px 0px 18.53107px 0px rgba(203, 203, 203, 0.25);
}



.bc-top {
    height: 50%;
}

.bc-top img {
    /* height: 100%; */
    width: 100%;
    border-top-right-radius: 9.266px;
    border-top-left-radius: 9.266px;
}

.botttom {
    height: 70%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.botttom h4 {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 20.237px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-left: -55px;
    margin-top: 20px;
}

.botttom h5 {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 14.825px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 40px;
    margin-left: -55px;
}

.footer {
    width: 100vw;
    height: 769px;
    background: none;
    background-image: url('/assets/Rectangle\ 41.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
}


.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-header {
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: 5px;
    font-weight: normal;
}

.fasthand-font {
    font-family: 'Fasthand', cursive;
}

.footer-header-fasthand {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    font-weight: 200;
    margin-top: -18px;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: -28px;
    margin: 5px 0;
}

.footer-button {
    background-color: #ff9900;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.footer-button:hover {
    background-color: #e58300;
}

.footer-content2 {
    display: flex;
    justify-content: space-between;
    /* Distribute items to both ends */
    align-items: center;
    padding: 20px;
    color: #fff;
    /* Text color */
    margin-top: 20px;
    /* Add margin to the top */
}

.footer-content2 h2 {
    margin-bottom: 10px;
    /* Add margin to the bottom of the header */
}


.footer-content2 p {
    margin-bottom: 10px;
    /* Add margin to the bottom of paragraphs */
}

.footer-content2 button {
    margin-top: 10px;
    /* Add margin to the top of the button */
}


.contact-info {
    flex: 1;
    padding-right: 20px;
    text-align: left;
    /* Adjust text alignment */
}

.contact-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.line {
    border-top: 1px solid #fff;
    margin: 10px 0;
}

.contact-info p {
    margin: 10px 0;
}

.copyright {
    flex: 1;
    text-align: right;
    margin-left: 1000px;
}

.copyright p {
    font-size: 14px;
    margin-bottom: 5px;
}

.social-icons a {
    color: #fff;
    /* Icon color */
    text-decoration: none;
    margin-left: 10px;
    /* Adjust spacing between icons */
    font-size: 20px;
}

/* Style for the email icon */
.contact-info p:nth-child(odd) i {
    font-size: 20px;
    /* Adjust the icon size as needed */
    margin-right: 10px;
    /* Add spacing between the icon and text */
    color: #fff;
    /* Change the icon color */
}

/* Style for the phone icon */
.contact-info p:nth-child(even) i {
    font-size: 20px;
    /* Adjust the icon size as needed */
    margin-right: 10px;
    /* Add spacing between the icon and text */
    color: #fff;
    /* Change the icon color */
}

.your-button-class {
    width: 300px;
    height: 93px;
    border-radius: 20px;
    font-size: 26px;
    font-weight: bold;
    margin-top: 50px;
    flex-shrink: 0;
}